html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

progress {
  vertical-align: baseline
}

[hidden],
template {
  display: none
}

/* a { */
/*   background-color: transparent; */
/*   -webkit-text-decoration-skip: objects */
/* } */

a:active,
a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder
}

dfn {
  font-style: italic
}

.title {
  margin-bottom: 0.9em;
}

h1 {
  font-size: 1.65em;
  margin: 0;
  /* margin: .67em 0; */
  line-height: 1.15em;
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em
}

sup {
    top: -.5em;
    /* margin-left: -0.18em; */
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre.src {
    padding: 8pt;
}

#logo:hover {
  border-bottom: 0;
  opacity: 0.8;
  }

.logoimg {
  height: 0.7em;
  padding-bottom: 2px;
}

a {
  color: #527d9a;
  text-decoration: none
}

a:hover {
  color: #035;
  border-bottom: 1px dotted
}

figure {
  padding: 0;
  margin: 1em auto;
  text-align: center
}

img {
  max-width: 100%;
  vertical-align: middle
}

body {
  width: 88%;
  max-width: 900px;
  margin: 1% auto;
  font-size: 12px;
  line-height: 1.42em;
  font-family: "Source Sans", sans-serif;
  color: #333
}

#content {
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 95%;
}


@media screen and (min-width:600px) {
  body {
    font-size: 15px
  }
}

@media screen and (min-width:820px) {
  #content {
    width: 720px
  }
}

::-moz-selection {
  background: #d6edff
}

::selection {
  background: #d6edff
}

p {
  margin: 1em auto;
  /* margin: 0; */
}

#content p {
  text-align: justify;
  /* text-indent:2.5em; */
  overflow-wrap: break-word;
  hyphens: auto;
}

p {

}

blockquote {
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
